# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
ENV/

# Pytest cache
.pytest_cache/

# IDE
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Coverage
.coverage
htmlcov/

# Mypy / Pylint / etc
.mypy_cache/
*.log
